body{
background-image:url('http://i.imgur.com/uW8HuUA.jpg');
font-weight: 300;
font-style: bold;
}



#textarea1 {

  font-size: 30px;
  padding: 10;
}

 /** { border: 1px solid white; }*/

.results{
  overflow-x: scroll;
  overflow-y: scroll;
  height: 600px;
  margin-top: 50px;
}

.container{
  margin-left:25px !important;
  margin-right:0px !important;
}

.artist{
  font-size: 17px;
}

.carousel{
  height:200px!important;
}
