body{
background-image:url('http://i.imgur.com/uW8HuUA.jpg');
font-weight: 300;
font-style: bold;
}

.logoImg{
  max-height: 80px;
}

.title {
  color: white;
  font-style: bold;
}

.itemDetails p{
  color:white;
}
#textarea1 {

  font-size: 30px;
  padding: 10;
}

 /** { border: 1px solid white; }*/

.results{
  overflow-x: scroll;
  overflow-y: scroll;
  height: 600px;
  margin-top: 50px;
}

.container{
  margin-left:25px !important;
  margin-right:0px !important;
}


.carousel{
  height:200px!important;
}
