body{
  background-image:url('../images/background.jpg')


}

#textarea1 {

  font-size: 30px;
  padding: 10;
}

  /** { border: 1px solid white; }*/

.results{
  overflow-x: scroll;
  overflow-y: scroll;
  height: 600px;
  margin-top: 50px;
}

.container{
  margin-left:25px !important;
  margin-right:0px !important;
}
